<html>
 <head>
   <title>Relatório</title>
   <style>
     h1 {
       text-align: center;
     }

     table {
       border: 1px solid;
       margin: 0 auto;
       width: 70%;
     }

     td, th {
       text-align: center;
       border: 1px solid;
     }
   </style>
 </head>
 <body>
   <h1>Lista de pagamento</h1>
   <table>
     <thead>
       <tr>
         <th>Ano</th>
         <th>Mês</th>
         <th>Valor Bruto</th>
       </tr>
     </thead>
     <tbody>
       {% for obj in obj %}
         <tr>
           <td>{{ obj.ano }}</td>
           <td>{{ obj.mes }}</td>
           <td>{{ obj.valor_bruto }}</td>
         </tr>
       {% endfor %}
     </tbody>
   </table>
 </body>