{% block layout_style %}
    <style> @page { size: A4 landscape; margin: 2cm; } </style>
{% endblock %}
<html>
    <head>
        <title>Relatório</title>
        <style>
            h1 {
                text-align: center;
            }
            table {
               border: 1px solid;
               margin: 0 auto;
               width: 70%;
            }
            td, th {
               text-align: center;
               border: 1px solid;
               font-size:9px;
            }
        </style>
    </head>
    <body>
        <h1>Lista de pagamento</h1>
        <table>
            <thead>
                <tr>
                    <th>Ano</th>
                    <th>Mês</th>
                    <th>Pessoa</th>
                    <th>CPF</th>
                    <th>Agência</th>
                    <th>Conta</th>
                    <th>Operação</th>
                    <th>Banco</th>
                    <th>Função</th>
                    <th>Quantidade de Horas</th>
                    <th>Valor da Hora</th>
                    <th>Valor da Pensão</th>
                    <th>Valor Bruto</th>
                    <th>PIS</th>
                    <th>INSS</th>
                    <th>ISS</th>
                    <th>Quantidade Dependentes</th>
                    <th>Dedução IRPF</th>
                    <th>Pos Dedução IRPF</th>
                    <th>IRPF</th>
                    <th>Valor Liquido</th>
                    <th>Patronal</th>
                    <th>Outras Deduções</th>
                </tr>
            </thead>
            <tbody>
            {% for l in lista %}
                <tr>
                    <td>{{ l.ano }}</td>
                    <td>{{ l.mes }}</td>
                    <td>{{ l.pessoa }}</td>
                    <td>{{ l.pessoa.cpf }}</td>
                    <td>{{ l.pessoa.num_agencia }}</td>
                    <td>{{ l.pessoa.num_conta }}</td>
                    <td>{{ l.pessoa.num_operacao }}</td>
                    <td>{{ l.pessoa.num_banco }}</td>
                    <td>{{ l.funcao }}</td>
                    <td>{{ l.qtd_horas }}</td>
                    <td>{{ l.valor_hora }}</td>
                    <td>{{ l.valor_pensao }}</td>
                    <td>{{ l.valor_bruto }}</td>
                    <td>{{ l.pessoa.pis }}</td>
                    <td>{{ l.valor_inss }}</td>
                    <td>{{ l.valor_iss }}</td>
                    <td>{{ l.qtd_dependente_irpf }}</td>
                    <td>{{ l.deducao_irpf }}</td>
                    <td>{{ l.valor_pos_deducao_irpf }}</td>
                    <td>{{ l.valor_irpf }}</td>
                    <td>{{ l.valor_liquido }}</td>
                    <td>{{ l.valor_patronal }}</td>
                    <td>{{ l.outras_deducoes }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>